@model IEnumerable<BookAuthorM2MApp.Models.Entities.Book>

@{
    ViewData["Title"] = "AssignBook";
    var author = ViewData["Author"];
}

<h1>AssignBook</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                    @Html.ActionLink("Assign", "AssignToAuthor", new {  id=author, authorid=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
